@font-face {
    font-family: "Clear Sans";
    src: url("assets/fonts/ClearSans-Light-webfont.eot");
    src: url("assets/fonts/ClearSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("assets/fonts/ClearSans-Light-webfont.svg#clear_sans_lightregular") format("svg"),
         url("assets/fonts/ClearSans-Light-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("assets/fonts/ClearSans-Regular-webfont.eot");
    src: url("assets/fonts/ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("assets/fonts/ClearSans-Regular-webfont.svg#clear_sansregular") format("svg"),
         url("assets/fonts/ClearSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("assets/fonts/ClearSans-Bold-webfont.eot");
    src: url("assets/fonts/ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("assets/fonts/ClearSans-Bold-webfont.svg#clear_sansbold") format("svg"),
         url("assets/fonts/ClearSans-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

