<div class="container">
  <div class="heading">
    <h1 class="title">2048</h1>
    <div class="scores-container">
      <div class="score-container">{{ game.currentScore | async }}</div>
      <div class="best-container">{{ game.highScore | async }}</div>
    </div>
  </div>

  <div class="above-game">
    <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
    <button (click)="newGame()" class="restart-button">New game</button>
  </div>

  <div class="game-container">
    <message [won]="game.won | async" *ngIf="game.gameOver | async"></message>
    <grid [tiles]="game.tiles | async"></grid>
  </div>
</div>
